.fundoCadastro {
  background-image: url(../../assets/cadastro.jpg);
    background-repeat: no-repeat;
    width: 40%;
    min-height: 75vh;
    background-size: cover;
    background-position: center;
}